@use "node_modules/@mobilize/winforms-components/src/SCSS/components" as components;
@use "node_modules/@mobilize/winforms-components/src/SCSS/variables" as variables;
.TKS_UOCollapsableControl .UOCollapsableControl {
    $tmp: variables.usercontrol-theme-values(
        $background: Transparent,
        $width: 301px,
        $height: 976px,
        $position: absolute,
    );
    @include components.usercontrol-theme($tmp);
}
.TKS_UOCollapsableControl .pnlHeader {
    $tmp: variables.panel-theme-values(
        $background: Lavender,
        $left: 4px,
        $top: 4px,
        $width: 293px,
        $height: 36px,
        $position: absolute,
    );
    @include components.panel-theme($tmp);
}
.TKS_UOCollapsableControl .btnCollapseExpand {
    $tmp: variables.button-theme-values(
        $left: 255px,
        $top: 4px,
        $width: 32px,
        $height: 28px,
        $position: absolute,
    );
    padding: 0px 0px 0px 0px;
    display: table-cell;
    vertical-align: middle;
    display: table-cell;
    @include components.button-theme($tmp);
}
.TKS_UOCollapsableControl .lblHeader {
    $tmp: variables.label-theme-values(
        $width: auto,
        $font-size: 11.25pt,
        $left: 9px,
        $top: 6px,
        $height: auto,
        $position: absolute,
    );
    white-space: nowrap;
    overflow: hidden;
    @include components.label-theme($tmp);
}
.TKS_UOCollapsableControl .pnlCollapsable {
    $tmp: variables.panel-theme-values(
        $background: GhostWhite,
        $left: 4px,
        $top: 39px,
        $width: 293px,
        $height: 932px,
        $position: absolute,
    );
    @include components.panel-theme($tmp);
}
.TKS_UOCollapsableControl .btnCreateCustomer {
    $tmp: variables.button-theme-values(
        $background: Lavender,
        $top: 4px,
        $width: 293px,
        $height: 28px,
        $position: absolute,
    );
    padding: 0px 0px 0px 0px;
    display: table-cell;
    vertical-align: middle;
    display: table-cell;
    @include components.button-theme($tmp);
}
.TKS_UOCollapsableControl .btnCreateOrder {
    $tmp: variables.button-theme-values(
        $background: Lavender,
        $top: 117px,
        $width: 293px,
        $height: 28px,
        $position: absolute,
    );
    padding: 0px 0px 0px 0px;
    display: table-cell;
    vertical-align: middle;
    display: table-cell;
    @include components.button-theme($tmp);
}
.TKS_UOCollapsableControl .btnCreateProduct {
    $tmp: variables.button-theme-values(
        $background: Lavender,
        $top: 32px,
        $width: 293px,
        $height: 28px,
        $position: absolute,
    );
    padding: 0px 0px 0px 0px;
    display: table-cell;
    vertical-align: middle;
    display: table-cell;
    @include components.button-theme($tmp);
}
.TKS_UOCollapsableControl .btnRoles {
    $tmp: variables.button-theme-values(
        $background: Lavender,
        $top: 145px,
        $width: 293px,
        $height: 28px,
        $position: absolute,
    );
    padding: 0px 0px 0px 0px;
    display: table-cell;
    vertical-align: middle;
    display: table-cell;
    @include components.button-theme($tmp);
}
.TKS_UOCollapsableControl .btnCreateUser {
    $tmp: variables.button-theme-values(
        $background: Lavender,
        $top: 60px,
        $width: 293px,
        $height: 28px,
        $position: absolute,
    );
    padding: 0px 0px 0px 0px;
    display: table-cell;
    vertical-align: middle;
    display: table-cell;
    @include components.button-theme($tmp);
}
.TKS_UOCollapsableControl .btnList {
    $tmp: variables.button-theme-values(
        $background: Lavender,
        $top: 89px,
        $width: 293px,
        $height: 28px,
        $position: absolute,
    );
    padding: 0px 0px 0px 0px;
    display: table-cell;
    vertical-align: middle;
    display: table-cell;
    @include components.button-theme($tmp);
}
.TKS_UOCollapsableControl .buttonMaintenance {
    $tmp: variables.button-theme-values(
        $background: Lavender,
        $top: 172px,
        $width: 293px,
        $height: 28px,
        $position: absolute,
    );
    padding: 0px 0px 0px 0px;
    display: table-cell;
    vertical-align: middle;
    display: table-cell;
    @include components.button-theme($tmp);
}
