@use "node_modules/@mobilize/winforms-components/src/SCSS/components" as components;
@use "node_modules/@mobilize/winforms-components/src/SCSS/variables" as variables;

.TKS_frmWhiteForm {
    left: -1px;
    top: -1px;
}
.TKS_frmWhiteForm .frmWhiteForm {
    $tmp: variables.window-theme-values(
        $background: White,
        $width: 800px,
        $height: 450px,
        $overflow: hidden,
    );
    @include components.window-theme($tmp);
}
