@use "node_modules/@mobilize/winforms-components/src/SCSS/components" as components;
@use "node_modules/@mobilize/winforms-components/src/SCSS/variables" as variables;

.TKS_frmCustomer {
    left: -1px;
    top: -1px;
}
.TKS_frmCustomer .frmCustomer {
    $tmp: variables.window-theme-values(
        $background: White,
        $width: 388px,
        $height: 498px,
        $overflow: hidden,
    );
    @include components.window-theme($tmp);
}
.TKS_frmCustomer .btnCancel {
    $tmp: variables.button-theme-values(
        $left: 240px,
        $top: 465px,
        $width: 75px,
        $height: 23px,
        $position: absolute,
    );
    padding: 0px 0px 0px 0px;
    display: table-cell;
    vertical-align: middle;
    display: table-cell;
    @include components.button-theme($tmp);
}
.TKS_frmCustomer .btnSave {
    $tmp: variables.button-theme-values(
        $left: 80px,
        $top: 465px,
        $width: 75px,
        $height: 23px,
        $position: absolute,
    );
    padding: 0px 0px 0px 0px;
    display: table-cell;
    vertical-align: middle;
    display: table-cell;
    @include components.button-theme($tmp);
}
.TKS_frmCustomer .lblFirstName {
    $tmp: variables.label-theme-values(
        $width: auto,
        $left: 24px,
        $top: 38px,
        $height: auto,
        $position: absolute,
    );
    white-space: nowrap;
    overflow: hidden;
    @include components.label-theme($tmp);
}
.TKS_frmCustomer .lblLastName {
    $tmp: variables.label-theme-values(
        $width: auto,
        $left: 24px,
        $top: 84px,
        $height: auto,
        $position: absolute,
    );
    white-space: nowrap;
    overflow: hidden;
    @include components.label-theme($tmp);
}
.TKS_frmCustomer .lblPhone {
    $tmp: variables.label-theme-values(
        $width: auto,
        $left: 24px,
        $top: 131px,
        $height: auto,
        $position: absolute,
    );
    white-space: nowrap;
    overflow: hidden;
    @include components.label-theme($tmp);
}
.TKS_frmCustomer .lblEmail {
    $tmp: variables.label-theme-values(
        $width: auto,
        $left: 24px,
        $top: 176px,
        $height: auto,
        $position: absolute,
    );
    white-space: nowrap;
    overflow: hidden;
    @include components.label-theme($tmp);
}
.TKS_frmCustomer .lblStreet {
    $tmp: variables.label-theme-values(
        $width: auto,
        $left: 24px,
        $top: 224px,
        $height: auto,
        $position: absolute,
    );
    white-space: nowrap;
    overflow: hidden;
    @include components.label-theme($tmp);
}
.TKS_frmCustomer .lblCity {
    $tmp: variables.label-theme-values(
        $width: auto,
        $left: 24px,
        $top: 303px,
        $height: auto,
        $position: absolute,
    );
    white-space: nowrap;
    overflow: hidden;
    @include components.label-theme($tmp);
}
.TKS_frmCustomer .lblState {
    $tmp: variables.label-theme-values(
        $width: auto,
        $left: 24px,
        $top: 356px,
        $height: auto,
        $position: absolute,
    );
    white-space: nowrap;
    overflow: hidden;
    @include components.label-theme($tmp);
}
.TKS_frmCustomer .lblZip {
    $tmp: variables.label-theme-values(
        $width: auto,
        $left: 24px,
        $top: 413px,
        $height: auto,
        $position: absolute,
    );
    white-space: nowrap;
    overflow: hidden;
    @include components.label-theme($tmp);
}
.TKS_frmCustomer .mskPhone {
    $tmp: variables.maskedtextbox-theme-values(
        $left: 118px,
        $top: 132px,
        $width: 235px,
        $height: 20px,
        $position: absolute,
    );
    @include components.maskedtextbox-theme($tmp);
}
.TKS_frmCustomer .txtFirstName {
    $tmp: variables.textbox-theme-values(
        $left: 118px,
        $top: 38px,
        $width: 235px,
        $height: 20px,
        $position: absolute,
    );
    @include components.textbox-theme($tmp);
}
.TKS_frmCustomer .txtLastName {
    $tmp: variables.textbox-theme-values(
        $left: 118px,
        $top: 84px,
        $width: 235px,
        $height: 20px,
        $position: absolute,
    );
    @include components.textbox-theme($tmp);
}
.TKS_frmCustomer .txtEmail {
    $tmp: variables.textbox-theme-values(
        $left: 118px,
        $top: 177px,
        $width: 235px,
        $height: 20px,
        $position: absolute,
    );
    @include components.textbox-theme($tmp);
}
.TKS_frmCustomer .txtStreet {
    $tmp: variables.textbox-theme-values(
        $left: 118px,
        $top: 225px,
        $width: 235px,
        $height: 53px,
        $position: absolute,
    );
    @include components.textbox-theme($tmp);
}
.TKS_frmCustomer .txtCity {
    $tmp: variables.textbox-theme-values(
        $left: 118px,
        $top: 304px,
        $width: 235px,
        $height: 20px,
        $position: absolute,
    );
    @include components.textbox-theme($tmp);
}
.TKS_frmCustomer .txtZip {
    $tmp: variables.textbox-theme-values(
        $left: 118px,
        $top: 413px,
        $width: 235px,
        $height: 20px,
        $position: absolute,
    );
    @include components.textbox-theme($tmp);
}
.TKS_frmCustomer .cboState {
    $tmp: variables.combobox-theme-values(
        $left: 118px,
        $top: 357px,
        $width: 235px,
        $height: 21px,
        $position: absolute,
    );
    @include components.combobox-theme($tmp);
}
