@use "node_modules/@mobilize/winforms-components/src/SCSS/components" as components;
@use "node_modules/@mobilize/winforms-components/src/SCSS/variables" as variables;

.TKS_FrmBillManagment {
    left: -1px;
    top: -1px;
}
.TKS_FrmBillManagment .FrmBillManagment {
    $tmp: variables.window-theme-values(
        $width: 1006px,
        $height: 621px,
        $overflow: hidden,
    );
    @include components.window-theme($tmp);
}
.TKS_FrmBillManagment .panel1 {
    $tmp: variables.panel-theme-values(
        $left: 0px,
        $top: 556px,
        $width: 1006px,
        $height: 65px,
        $position: absolute,
    );
    @include components.panel-theme($tmp);
}
.TKS_FrmBillManagment .btnBack {
    $tmp: variables.button-theme-values(
        $left: 275px,
        $top: 12px,
        $width: 91px,
        $height: 41px,
        $position: absolute,
    );
    padding: 0px 0px 0px 0px;
    display: table-cell;
    vertical-align: middle;
    display: table-cell;
    @include components.button-theme($tmp);
}
.TKS_FrmBillManagment .btnNext {
    $tmp: variables.button-theme-values(
        $left: 406px,
        $top: 12px,
        $width: 108px,
        $height: 41px,
        $position: absolute,
    );
    padding: 0px 0px 0px 0px;
    display: table-cell;
    vertical-align: middle;
    display: table-cell;
    @include components.button-theme($tmp);
}
.TKS_FrmBillManagment .btnCancel {
    $tmp: variables.button-theme-values(
        $left: 555px,
        $top: 12px,
        $width: 182px,
        $height: 41px,
        $position: absolute,
    );
    padding: 0px 0px 0px 0px;
    display: table-cell;
    vertical-align: middle;
    display: table-cell;
    @include components.button-theme($tmp);
}
.TKS_FrmBillManagment .pnlContent {
    $tmp: variables.panel-theme-values(
        $left: 0px,
        $top: 0px,
        $width: 1006px,
        $height: 556px,
        $position: absolute,
    );
    @include components.panel-theme($tmp);
}
