@use "node_modules/@mobilize/winforms-components/src/SCSS/components" as components;
@use "node_modules/@mobilize/winforms-components/src/SCSS/variables" as variables;

.TKS_frmMain {
    left: -1px;
    top: -1px;
}
.TKS_frmMain .frmMain {
    background-color: rgba(255, 255, 255, 1);
    width: 1244px;
    height: 821px;
    overflow: hidden;
}
.TKS_frmMain .menuStrip1 {
    background-color: #D9D9F3;
    left: 0px;
    top: 0px;
    width: 1244px;
    height: 24px;
    position: absolute;
}
.TKS_frmMain .rolesToolStripMenuItem {
    width: 47px;
    height: 20px;
    position: absolute;
}
.TKS_frmMain .assignRoleToolStripMenuItem {
    width: 135px;
    height: 22px;
    position: absolute;
}
.TKS_frmMain .personalizationToolStripMenuItem {
    width: 99px;
    height: 20px;
    position: absolute;
}
.TKS_frmMain .ordersToolStripMenuItem {
    width: 54px;
    height: 20px;
    position: absolute;
}
.TKS_frmMain .createOrderToolStripMenuItem {
    width: 141px;
    height: 22px;
    position: absolute;
}
.TKS_frmMain .usersToolStripMenuItem {
    width: 76px;
    height: 20px;
    position: absolute;
}
.TKS_frmMain .viewCustomersToolStripMenuItem {
    width: 163px;
    height: 22px;
    position: absolute;
}
.TKS_frmMain .createCustomerToolStripMenuItem {
    width: 163px;
    height: 22px;
    position: absolute;
}
.TKS_frmMain .fileToolStripMenuItem {
    width: 37px;
    height: 20px;
    position: absolute;
}
.TKS_frmMain wm-usercontrol .uoCollapsableControl1 {
    background-color: Transparent;
    left: 0px;
    top: 25px;
    width: 226px;
    height: 793px;
    position: absolute;
}
