@use "node_modules/@mobilize/winforms-components/src/SCSS/components" as components;
@use "node_modules/@mobilize/winforms-components/src/SCSS/variables" as variables;

.TKS_frmMain {
    left: -1px;
    top: -1px;
}
.TKS_frmMain .frmMain {
    $tmp: variables.window-theme-values(
        $background: rgba(255, 255, 255, 1),
        $width: 1244px,
        $height: 821px,
        $overflow: hidden,
    );
    @include components.window-theme($tmp);
}
.TKS_frmMain .menuStrip1 {
    $tmp: variables.toolstrip-theme-values(
        $background: #D9D9F3,
        $left: 0px,
        $top: 0px,
        $width: 1244px,
        $height: 24px,
        $position: absolute,
    );
    @include components.toolstrip-theme($tmp);
}
.TKS_frmMain .rolesToolStripMenuItem {
    $tmp: variables.toolstrip-menuitem-theme-values(
        $width: 47px,
        $height: 20px,
        $position: relative,
    );
    @include components.toolstrip-menuitem-theme($tmp);
}
.TKS_frmMain .assignRoleToolStripMenuItem {
    $tmp: variables.toolstrip-menuitem-theme-values(
        $width: 135px,
        $height: 22px,
        $position: relative,
    );
    @include components.toolstrip-menuitem-theme($tmp);
}
.TKS_frmMain .personalizationToolStripMenuItem {
    $tmp: variables.toolstrip-menuitem-theme-values(
        $width: 99px,
        $height: 20px,
        $position: relative,
    );
    @include components.toolstrip-menuitem-theme($tmp);
}
.TKS_frmMain .ordersToolStripMenuItem {
    $tmp: variables.toolstrip-menuitem-theme-values(
        $width: 54px,
        $height: 20px,
        $position: relative,
    );
    @include components.toolstrip-menuitem-theme($tmp);
}
.TKS_frmMain .createOrderToolStripMenuItem {
    $tmp: variables.toolstrip-menuitem-theme-values(
        $width: 141px,
        $height: 22px,
        $position: relative,
    );
    @include components.toolstrip-menuitem-theme($tmp);
}
.TKS_frmMain .usersToolStripMenuItem {
    $tmp: variables.toolstrip-menuitem-theme-values(
        $width: 76px,
        $height: 20px,
        $position: relative,
    );
    @include components.toolstrip-menuitem-theme($tmp);
}
.TKS_frmMain .viewCustomersToolStripMenuItem {
    $tmp: variables.toolstrip-menuitem-theme-values(
        $width: 163px,
        $height: 22px,
        $position: relative,
    );
    @include components.toolstrip-menuitem-theme($tmp);
}
.TKS_frmMain .createCustomerToolStripMenuItem {
    $tmp: variables.toolstrip-menuitem-theme-values(
        $width: 163px,
        $height: 22px,
        $position: relative,
    );
    @include components.toolstrip-menuitem-theme($tmp);
}
.TKS_frmMain .fileToolStripMenuItem {
    $tmp: variables.toolstrip-menuitem-theme-values(
        $width: 37px,
        $height: 20px,
        $position: relative,
    );
    @include components.toolstrip-menuitem-theme($tmp);
}
.TKS_frmMain .uoCollapsableControl1 {
    $tmp: variables.usercontrol-theme-values(
        $background: Transparent,
        $left: 0px,
        $top: 50px,
        $width: 226px,
        $height: 793px,
        $position: absolute,
    );
    @include components.usercontrol-theme($tmp);
}
