@use "node_modules/@mobilize/winforms-components/src/SCSS/components" as components;
@use "node_modules/@mobilize/winforms-components/src/SCSS/variables" as variables;

.TKS_frmRoles {
    left: -1px;
    top: -1px;
}
.TKS_frmRoles .frmRoles {
    $tmp: variables.window-theme-values(
        $background: White,
        $width: 596px,
        $height: 455px,
        $overflow: hidden,
    );
    @include components.window-theme($tmp);
}
.TKS_frmRoles .tvwUser {
    $tmp: variables.treeview-theme-values(
        $left: 12px,
        $top: 58px,
        $width: 245px,
        $height: 333px,
        $position: absolute,
    );
    @include components.treeview-theme($tmp);
}
.TKS_frmRoles .btnRemove {
    $tmp: variables.button-theme-values(
        $left: 280px,
        $top: 163px,
        $width: 33px,
        $height: 29px,
        $position: absolute,
    );
    padding: 0px 0px 0px 0px;
    display: table-cell;
    vertical-align: middle;
    display: table-cell;
    @include components.button-theme($tmp);
}
.TKS_frmRoles .btnAdd {
    $tmp: variables.button-theme-values(
        $left: 280px,
        $top: 210px,
        $width: 33px,
        $height: 29px,
        $position: absolute,
    );
    padding: 0px 0px 0px 0px;
    display: table-cell;
    vertical-align: middle;
    display: table-cell;
    @include components.button-theme($tmp);
}
.TKS_frmRoles .lbxRoles {
    $tmp: variables.listbox-theme-values(
        $left: 341px,
        $top: 58px,
        $width: 243px,
        $height: 329px,
        $position: absolute,
    );
    @include components.listbox-theme($tmp);
}
.TKS_frmRoles .ucOkCancel1 {
    $tmp: variables.usercontrol-theme-values(
        $background: White,
        $left: 293px,
        $top: 396px,
        $width: 291px,
        $height: 52px,
        $position: absolute,
    );
    @include components.usercontrol-theme($tmp);
}
.TKS_frmRoles .txtSecurityLevel {
    $tmp: variables.textbox-theme-values(
        $left: 95px,
        $top: 12px,
        $width: 141px,
        $height: 20px,
        $position: absolute,
    );
    @include components.textbox-theme($tmp);
}
.TKS_frmRoles .lblSecurityLevel {
    $tmp: variables.label-theme-values(
        $width: auto,
        $left: 12px,
        $top: 15px,
        $height: auto,
        $position: absolute,
    );
    white-space: nowrap;
    overflow: hidden;
    @include components.label-theme($tmp);
}
.TKS_frmRoles .btnSecurityLevel {
    $tmp: variables.button-theme-values(
        $left: 116px,
        $top: 410px,
        $width: 141px,
        $height: 23px,
        $position: absolute,
    );
    padding: 0px 0px 0px 0px;
    display: table-cell;
    vertical-align: middle;
    display: table-cell;
    @include components.button-theme($tmp);
}
