.TKS_frmListtabPage1 .frmListtabPage1 {
    left: 4px;
    top: 22px;
    width: 837px;
    height: 656px;
    position: absolute;
}
.TKS_frmListtabPage1 .grdOrders {
    left: 6px;
    top: 6px;
    width: 825px;
    height: 644px;
    position: absolute;
}
