@use "node_modules/@mobilize/winforms-components/src/SCSS/components" as components;
@use "node_modules/@mobilize/winforms-components/src/SCSS/variables" as variables;

.TKS_frmListtbpProducts .frmListtbpProducts {
    left: 4px;
    top: 22px;
    width: 837px;
    height: 656px;
    position: absolute;
}
.TKS_frmListtbpProducts .grdProducts {
    left: 6px;
    top: 6px;
    position: absolute;

    $tmp: variables.tabcontrol-theme-values(
        $width: 825px,
        $height: 644px,
    );
    @include components.tabcontrol-theme($tmp);
}
