@use "node_modules/@mobilize/winforms-components/src/SCSS/components" as components;
@use "node_modules/@mobilize/winforms-components/src/SCSS/variables" as variables;

.TKS_frmUser {
    left: -1px;
    top: -1px;
}
.TKS_frmUser .frmUser {
    $tmp: variables.window-theme-values(
        $background: White,
        $width: 340px,
        $height: 232px,
        $overflow: hidden,
    );
    @include components.window-theme($tmp);
}
.TKS_frmUser .ucOkCancel {
    $tmp: variables.usercontrol-theme-values(
        $background: White,
        $left: 8px,
        $top: 166px,
        $width: 291px,
        $height: 52px,
        $position: absolute,
    );
    @include components.usercontrol-theme($tmp);
}
.TKS_frmUser .lblId {
    $tmp: variables.label-theme-values(
        $width: auto,
        $left: 25px,
        $top: 37px,
        $height: auto,
        $position: absolute,
    );
    white-space: nowrap;
    overflow: hidden;
    @include components.label-theme($tmp);
}
.TKS_frmUser .lblPassword {
    $tmp: variables.label-theme-values(
        $width: auto,
        $left: 25px,
        $top: 77px,
        $height: auto,
        $position: absolute,
    );
    white-space: nowrap;
    overflow: hidden;
    @include components.label-theme($tmp);
}
.TKS_frmUser .lblEmail {
    $tmp: variables.label-theme-values(
        $width: auto,
        $left: 25px,
        $top: 123px,
        $height: auto,
        $position: absolute,
    );
    white-space: nowrap;
    overflow: hidden;
    @include components.label-theme($tmp);
}
.TKS_frmUser .txtId {
    $tmp: variables.textbox-theme-values(
        $left: 119px,
        $top: 35px,
        $width: 173px,
        $height: 20px,
        $position: absolute,
    );
    @include components.textbox-theme($tmp);
}
.TKS_frmUser .txtEmail {
    $tmp: variables.textbox-theme-values(
        $left: 119px,
        $top: 121px,
        $width: 173px,
        $height: 20px,
        $position: absolute,
    );
    @include components.textbox-theme($tmp);
}
.TKS_frmUser .txtPassword {
    $tmp: variables.textbox-theme-values(
        $left: 119px,
        $top: 75px,
        $width: 173px,
        $height: 20px,
        $position: absolute,
    );
    @include components.textbox-theme($tmp);
}
.TKS_frmUser .chkId {
    $tmp: variables.checkbox-theme-values(
        $width: auto,
        $background: White,
        $left: 309px,
        $top: 37px,
        $height: auto,
        $position: absolute,
    );
    @include components.checkbox-theme($tmp);
}
.TKS_frmUser .chkPassword {
    $tmp: variables.checkbox-theme-values(
        $width: auto,
        $background: White,
        $left: 309px,
        $top: 78px,
        $height: auto,
        $position: absolute,
    );
    @include components.checkbox-theme($tmp);
}
.TKS_frmUser .chkEmail {
    $tmp: variables.checkbox-theme-values(
        $width: auto,
        $background: White,
        $left: 309px,
        $top: 124px,
        $height: auto,
        $position: absolute,
    );
    @include components.checkbox-theme($tmp);
}
