@use "node_modules/@mobilize/winforms-components/src/SCSS/components" as components;
@use "node_modules/@mobilize/winforms-components/src/SCSS/variables" as variables;

.TKS_frmProduct {
    left: -1px;
    top: -1px;
}
.TKS_frmProduct .frmProduct {
    $tmp: variables.window-theme-values(
        $background: White,
        $width: 452px,
        $height: 404px,
        $overflow: hidden,
    );
    @include components.window-theme($tmp);
}
.TKS_frmProduct .btnSave {
    $tmp: variables.button-theme-values(
        $left: 33px,
        $top: 341px,
        $width: 100px,
        $height: 28px,
        $position: absolute,
    );
    padding: 0px 0px 0px 0px;
    display: table-cell;
    vertical-align: middle;
    display: table-cell;
    @include components.button-theme($tmp);
}
.TKS_frmProduct .button2 {
    $tmp: variables.button-theme-values(
        $left: 336px,
        $top: 341px,
        $width: 100px,
        $height: 28px,
        $position: absolute,
    );
    padding: 0px 0px 0px 0px;
    display: table-cell;
    vertical-align: middle;
    display: table-cell;
    @include components.button-theme($tmp);
}
.TKS_frmProduct .lnkCategory {
    $tmp: variables.link-label-theme-values(
        $width: auto,
        $left: 52px,
        $top: 146px,
        $height: auto,
        $position: absolute,
    );
    @include components.link-label-theme($tmp);
}
.TKS_frmProduct .lblName {
    $tmp: variables.label-theme-values(
        $width: auto,
        $left: 52px,
        $top: 39px,
        $height: auto,
        $position: absolute,
    );
    white-space: nowrap;
    overflow: hidden;
    @include components.label-theme($tmp);
}
.TKS_frmProduct .lnkBrand {
    $tmp: variables.link-label-theme-values(
        $width: auto,
        $left: 52px,
        $top: 92px,
        $height: auto,
        $position: absolute,
    );
    @include components.link-label-theme($tmp);
}
.TKS_frmProduct .lblModel {
    $tmp: variables.label-theme-values(
        $width: auto,
        $left: 52px,
        $top: 204px,
        $height: auto,
        $position: absolute,
    );
    white-space: nowrap;
    overflow: hidden;
    @include components.label-theme($tmp);
}
.TKS_frmProduct .lblPrice {
    $tmp: variables.label-theme-values(
        $width: auto,
        $left: 57px,
        $top: 260px,
        $height: auto,
        $position: absolute,
    );
    white-space: nowrap;
    overflow: hidden;
    @include components.label-theme($tmp);
}
.TKS_frmProduct .txtName {
    $tmp: variables.textbox-theme-values(
        $left: 187px,
        $top: 36px,
        $width: 213px,
        $height: 22px,
        $position: absolute,
    );
    @include components.textbox-theme($tmp);
}
.TKS_frmProduct .numPrice {
    $tmp: variables.numericupdown-theme-values(
        $left: 187px,
        $top: 257px,
        $width: 215px,
        $height: 22px,
        $position: absolute,
    );
    @include components.numericupdown-theme($tmp);
}
.TKS_frmProduct .cboModel {
    $tmp: variables.combobox-theme-values(
        $left: 187px,
        $top: 201px,
        $width: 213px,
        $height: 24px,
        $position: absolute,
    );
    @include components.combobox-theme($tmp);
}
.TKS_frmProduct .cboBrand {
    $tmp: variables.combobox-theme-values(
        $left: 187px,
        $top: 92px,
        $width: 213px,
        $height: 24px,
        $position: absolute,
    );
    @include components.combobox-theme($tmp);
}
.TKS_frmProduct .cboCategory {
    $tmp: variables.combobox-theme-values(
        $left: 187px,
        $top: 143px,
        $width: 213px,
        $height: 24px,
        $position: absolute,
    );
    @include components.combobox-theme($tmp);
}
.TKS_frmProduct .btnVerify {
    $tmp: variables.button-theme-values(
        $left: 183px,
        $top: 341px,
        $width: 111px,
        $height: 28px,
        $position: absolute,
    );
    padding: 0px 0px 0px 0px;
    display: table-cell;
    vertical-align: middle;
    display: table-cell;
    @include components.button-theme($tmp);
}
.TKS_frmProduct .lblNameAlert {
    $tmp: variables.label-theme-values(
        $background: Red,
        $left: 409px,
        $top: 39px,
        $width: 20px,
        $height: 18px,
        $position: absolute,
    );
    white-space: nowrap;
    overflow: hidden;
    @include components.label-theme($tmp);
}
.TKS_frmProduct .lblBrandAlert {
    $tmp: variables.label-theme-values(
        $background: Red,
        $left: 409px,
        $top: 95px,
        $width: 20px,
        $height: 18px,
        $position: absolute,
    );
    white-space: nowrap;
    overflow: hidden;
    @include components.label-theme($tmp);
}
.TKS_frmProduct .lblCategoryAlert {
    $tmp: variables.label-theme-values(
        $background: Red,
        $left: 409px,
        $top: 144px,
        $width: 20px,
        $height: 18px,
        $position: absolute,
    );
    white-space: nowrap;
    overflow: hidden;
    @include components.label-theme($tmp);
}
.TKS_frmProduct .lblModelAlert {
    $tmp: variables.label-theme-values(
        $background: Red,
        $left: 409px,
        $top: 204px,
        $width: 20px,
        $height: 18px,
        $position: absolute,
    );
    white-space: nowrap;
    overflow: hidden;
    @include components.label-theme($tmp);
}
.TKS_frmProduct .lblPriceAlert {
    $tmp: variables.label-theme-values(
        $background: Red,
        $left: 409px,
        $top: 258px,
        $width: 20px,
        $height: 18px,
        $position: absolute,
    );
    white-space: nowrap;
    overflow: hidden;
    @include components.label-theme($tmp);
}
