.TKS_frmProduct {
    left: -1px;
    top: -1px;
}
.TKS_frmProduct .frmProduct {
    background-color: White;
    width: 452px;
    height: 404px;
    overflow: hidden;
}
.TKS_frmProduct .btnSave {
    left: 33px;
    top: 341px;
    width: 100px;
    height: 28px;
    position: absolute;
    padding: 0px 0px 0px 0px;
    display: table-cell;
    vertical-align: middle;
    display: table-cell;
}
.TKS_frmProduct .button2 {
    left: 336px;
    top: 341px;
    width: 100px;
    height: 28px;
    position: absolute;
    padding: 0px 0px 0px 0px;
    display: table-cell;
    vertical-align: middle;
    display: table-cell;
}
.TKS_frmProduct .lnkCategory {
    width: auto;
    left: 52px;
    top: 146px;
    height: auto;
    position: absolute;
}
.TKS_frmProduct .lblName {
    width: auto;
    left: 52px;
    top: 39px;
    height: auto;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}
.TKS_frmProduct .lnkBrand {
    width: auto;
    left: 52px;
    top: 92px;
    height: auto;
    position: absolute;
}
.TKS_frmProduct .lblModel {
    width: auto;
    left: 52px;
    top: 204px;
    height: auto;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}
.TKS_frmProduct .lblPrice {
    width: auto;
    left: 57px;
    top: 260px;
    height: auto;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}
.TKS_frmProduct .txtName {
    left: 187px;
    top: 36px;
    width: 213px;
    height: 22px;
    position: absolute;
}
.TKS_frmProduct .numPrice {
    left: 187px;
    top: 257px;
    width: 215px;
    height: 22px;
    position: absolute;
}
.TKS_frmProduct .cboModel {
    left: 187px;
    top: 201px;
    width: 213px;
    height: 24px;
    position: absolute;
}
.TKS_frmProduct .cboBrand {
    left: 187px;
    top: 92px;
    width: 213px;
    height: 24px;
    position: absolute;
}
.TKS_frmProduct .cboCategory {
    left: 187px;
    top: 143px;
    width: 213px;
    height: 24px;
    position: absolute;
}
.TKS_frmProduct .btnVerify {
    left: 183px;
    top: 341px;
    width: 111px;
    height: 28px;
    position: absolute;
    padding: 0px 0px 0px 0px;
    display: table-cell;
    vertical-align: middle;
    display: table-cell;
}
.TKS_frmProduct .lblNameAlert {
    background-color: Red;
    left: 409px;
    top: 39px;
    width: 20px;
    height: 18px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}
.TKS_frmProduct .lblBrandAlert {
    background-color: Red;
    left: 409px;
    top: 95px;
    width: 20px;
    height: 18px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}
.TKS_frmProduct .lblCategoryAlert {
    background-color: Red;
    left: 409px;
    top: 144px;
    width: 20px;
    height: 18px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}
.TKS_frmProduct .lblModelAlert {
    background-color: Red;
    left: 409px;
    top: 204px;
    width: 20px;
    height: 18px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}
.TKS_frmProduct .lblPriceAlert {
    background-color: Red;
    left: 409px;
    top: 258px;
    width: 20px;
    height: 18px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}
