@use "node_modules/@mobilize/winforms-components/src/SCSS/components" as components;
@use "node_modules/@mobilize/winforms-components/src/SCSS/variables" as variables;

.TKS_frmList {
    left: -1px;
    top: -1px;
}
.TKS_frmList .frmList {
    $tmp: variables.window-theme-values(
        $background: White,
        $width: 866px,
        $height: 706px,
        $overflow: hidden,
    );
    @include components.window-theme($tmp);
}
.TKS_frmList .tpgOrders {
    $tmp: variables.tabcontrol-theme-values(
        $left: 10px,
        $top: 12px,
        $width: 845px,
        $height: 682px,
        $position: absolute,
    );
    @include components.tabcontrol-theme($tmp);
}
